* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
/* HEADER */

header {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-image: url(img/TuManufactureo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color:rgb(220, 161, 85);
    margin-bottom: 50px;
}

/* HEADER LEFT */
.headerLeft {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}
.headerLeft button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 6.5px;
    background-color: transparent;
    border: 0;
    font-size: 25px;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
.plusIcon {
    width: 25px;
    height: 25px;
}
.headerLeft button:hover {
    background-color: #F4ECF7;
    transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
}

.headerLeft .filterForm {
    display: flex;
    flex-direction: column;
}
.headerLeft .filterForm input {
    margin: 6.5px;
}

/* SEARCHER */



/* HEADER RIGHT */
.headerRight {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.headerRight button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
.headerRight button:hover {
        background-color: #F4ECF7;
        transition: all .1s ease;
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        -ms-transition: all .1s ease;
        -o-transition: all .1s ease;
}

.headerRightBtn {
    background-color: transparent;
    border: 0;
    font-size: 20px;
} 
.headerRight .icon {
    margin: 0 20px;
}

/* FORM */
.myform {
    display: flex;
    flex-direction: column;
}

.myform label {
    display: inline-block;
    width: 200px; 
}

.myform input {
    width: 300px;
}

/* SECTION CARDS */
.container-section-cards {
    text-align: center;
}
.section-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    grid-template-rows: 500px;
    gap: 20px;
    place-items: center;
}
.mycard {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    height: 500px;
    max-height: 500px;
    margin: 0 10px;
    padding-bottom: 10px;
    background-color:#F4ECF7;
    padding: 5px;
}
 .mycard img {
    max-width: 100%;
    height: 380px;
    object-fit: cover;
} 

/* PEQUEÑECES CARDS */
.productNameCard {
    margin-bottom: 0;
}
.handmakerName {
    font-style: italic;
    color: #999;
    margin-top: 0;
}
.buttonShopCart {
    background-color: lightgrey;
    border: 0.1px grey solid;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
    width: 175px;
}

.wordCard {
    text-align: left;
}
.buttonToRight {
    position: relative;
    text-align: right;
}
.buttonToRight b {
    position: absolute;
    font-size: 30px;
    left: 10px;
    bottom: -5px;
    font-weight: 300;
    max-width: 100px;
    overflow:hidden;
}

/* SHOP CART */

.Cardh1 {
    text-align: center;
}