* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(220, 161, 85);
    margin-bottom: 50px;
}
/* HEADER LEFT */
.headerLeft {
    margin-left: 100px;
}
.logoFull {
    display: none;
}
.headerLeft:hover .logoAbreviated {
    display: none;
    transition: opacity 5s ease-in-out;
    -webkit-transition: opacity 5s ease-in-out;
    -moz-transition: opacity 5s ease-in-out;
    -ms-transition: opacity 5s ease-in-out;
    -o-transition: opacity 5s ease-in-out;
}
.headerLeft:hover .logoFull{
    display: block;
    transition: opacity 5s ease-in-out;
    -webkit-transition: opacity 5s ease-in-out;
    -moz-transition: opacity 5s ease-in-out;
    -ms-transition: opacity 5s ease-in-out;
    -o-transition: opacity 5s ease-in-out;
}
/* SEARCHER */

/* HEADER RIGHT */

.headerRightBtn {
    background-color: transparent;
    border: 0;
    font-size: 20px;
} 
.headerRight .icon {
    margin: 0 20px;
}


/* .logoAbreviated:hover .logoFull {
    display: inline-block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}

.logoAbreviated:hover{
    opacity: 0;
    transition: opacity 0.5 ease-in-out;
    -webkit-transition: opacity 0.5 ease-in-out;
    -moz-transition: opacity 0.5 ease-in-out;
    -ms-transition: opacity 0.5 ease-in-out;
    -o-transition: opacity 0.5 ease-in-out;
} */

/* FORM */
.myform {
    display: flex;
    flex-direction: column;
}

.myform label {
    display: inline-block;
    width: 200px; 
}

.myform input {
    width: 300px;
}

/* SECTION CARDS */
.container-section-cards {
    text-align: center;
}
.section-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    gap: 20px;
    place-items: center;
}
.mycard {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px; 
    max-height: 400px;
    margin: 0 10px;
    padding-bottom: 10px;
    background-color:#F4ECF7;
    padding: 5px;
}
.mycard img {
    max-width: 100%;
    height: auto;
}

/* PEQUEÑECES CARDS */
.productNameCard {
    margin-bottom: 0;
}
.handmakerName {
    font-style: italic;
    color: #999;
    margin-top: 0;
}
.buttonShopCart {
    background-color: lightgrey;
    border: 0.1px grey solid;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
    width: 175px;
}

.wordCard {
    text-align: left;
}
.buttonToRight {
    position: relative;
    text-align: right;
}
.buttonToRight b {
    position: absolute;
    font-size: 30px;
    left: 10px;
    bottom: -5px;
    font-weight: 300;
}
